{% extends 'base.html.twig' %}



{% block body %}
    <div class="section pt-5 pb-0">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 text-center">
                    <h2 class="heading">Trending</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="posts-slide-wrap">
                        <div class="posts-slide" id="posts-slide">
                            {{ render(controller('App\\Controller\\BlogController::trendingBlogs')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row g-5">
                {{ render(controller('App\\Controller\\BlogController::lastSixBlogs')) }}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 text-center">
                    <h2 class="heading">Most Popular Posts</h2>
                </div>
            </div>
        </div>
        <div class="most-popular-slider-wrap px-3 px-md-0">
            <div id="most-popular-nav">
                <span class="prev" data-controls="prev">Prev</span>
                <span class="next" data-controls="next">Next</span>
            </div>
            <div class="most-popular-slider" id="most-popular-center">
                {{ render(controller('App\\Controller\\BlogController::popularBlogs')) }}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row g-5">
         {{ render(controller('App\\Controller\\CategoryController::allowedCategories')) }}
            </div>
        </div>
    </div>
{% endblock %}
